<div class="flex items-center justify-center h-screen">
    <div class="flex flex-wrap flex-col justify-center self-center items-center"> 
        <div class="result flex flex-wrap flex-col justify-center self-center items-center rounded-[50px] border-4 w-[700px] h-[500px]  ">
            <div class="flex flex-wrap flex-row justify-center items-center text-white w-96 mt-[20px]">
                <img class="flex flex-wrap w-14 h-14 mr-8 " src="../../assets/media/logoblanco.png">
                <h1 class="mr-20 text-[25px] font-bold">Sketch And Guess</h1>
            </div>
            <div class="flex flex-wrap flex-col justify-center items-center w-96">
                <h2 class="justify-center items-center text-center text-white text-[18px] font-bold">Results</h2>
                <div *ngFor="let usuario of ranking; index as i" class="rank flex flex-wrap flex-col justify-center items-center w-[250px] h-[60px] my-3 rounded-[13px]">
                    <div>
                        <img src="../../assets/media/usuario.png"> <h1 class="font-bold ">{{usuario.username}}: {{usuario.puntos}}</h1>
                    </div>
                    <div class="number w-[50px] h-[30px] rounded-[14px]">
                        <h1 class="justify-center items-center text-center text-white text-[13px] mt-[4px]">{{i+1}}</h1>
                    </div>
                </div>
                <div class="flex flex-wrap flex-row justify-center items-center text-white w-96 mt-[40px] mb-[40px] ">
                    <button routerLink="/SalasDisponibles" class=" boton-regresar rounded-[50px] p-[8px] pl-[15px] pr-[8px] font-bold mr-[10px] flex flex-wrap flex-row justify-center items-center transition ease-out hover:scale-110"> <h1>Play Again</h1> <img class="w-[20px] mx-[10px]" src="../../assets/media/return.png"></button>
                    <button routerLink="/Index" class="boton-home rounded-[50px] p-[8px] pl-[15px] pr-[1px] font-bold flex flex-wrap flex-row justify-center items-center transition ease-out hover:scale-110"><h1 class="ml-[20px]">Home </h1><img class="w-[20px] mr-[20px] ml-[20px] " src="../../assets/media/home.png"></button>
                </div>
            </div>
        </div>
    </div>
</div>