* {
    scrollbar-width: thin;
    scrollbar-color: #F2B3E1 #f5f5f5;
}
.info{
    background-color: #660273;
}

.clock{
    background-color: #F2B3E1;
    position: absolute;
    margin-left: -700px;
}

.clear{
    background-color: #660273;
}

.profilePic1{
    background-image: url(../../assets/media/avatar1.svg);
    background-repeat: no-repeat;
}

.profilePic2{
    background-image: url(../../assets/media/avatar2.svg);
    background-repeat: no-repeat;
}

.profilePic3{
    background-image: url(../../assets/media/avatar3.svg);
    background-repeat: no-repeat;
}