<div class="flex items-center justify-center h-screen">
    <div class="flex flex-col items-center justify-center h-[80%] w-[55%] round border-4 bg-indigo-950 ">
        <h1 class="flex justify-center items-center mt-8 text-center bg-transparent text-white text-2xl font-semibold">
            <span class="bg-transparent">
                <img class="bg-transparent mr-2" src="../../assets/media/logoblanco.png" alt="logo" width="50px">
            </span>
            Sketch And Guess
        </h1>
        <div class="flex flex-row justify-around size-4/5 bg-transparent mb-10">
            <div class="bg-transparent w-[40%] h-[33.333333%]">
                <h1 class="text-white py-5 font-semibold text-xl bg-transparent">Available Rooms</h1>
                    <div class="flex justify-between items-center bg-white py-2 px-2 mb-5 rounded-xl">
                        <div class="flex items-center justify-center bg-transparent">
                            <img class="bg-transparent mr-4" src="./assets/media/iconSala.png" alt="Icono Sala" width="30px">
                            <h1 class="bg-transparent font-semibold text-sm">DEF123</h1>
                        </div>
                        <button routerLink="/Game" class="btn-join py-1 px-5 text-white rounded-2xl font-medium text-sm transition ease-out hover:scale-110">Join</button>
                    </div>
                    <div class="flex justify-between items-center bg-white py-2 px-2 mb-5 rounded-xl">
                        <div class="flex items-center justify-center bg-transparent">
                            <img class="bg-transparent mr-4" src="./assets/media/iconSala.png" alt="Icono Sala" width="30px">
                            <h1 class="bg-transparent font-semibold text-sm">XYZABC</h1>
                        </div>
                        <button routerLink="/Game" class="btn-join py-1 px-5 text-white rounded-2xl font-medium text-sm transition ease-out hover:scale-110">Join</button>
                    </div>
                    <div class="flex justify-between items-center bg-white py-2 px-2 mb-7 rounded-xl">
                        <div class="flex items-center justify-center bg-transparent">
                            <img class="bg-transparent mr-4" src="./assets/media/iconSala.png" alt="Icono Sala" width="30px">
                            <h1 class="bg-transparent font-semibold text-sm">FORT42</h1>
                        </div>
                        <button routerLink="/Game" class="btn-join py-1 px-5 text-white rounded-2xl font-medium text-sm transition ease-out hover:scale-110">Join</button>
                    </div>
                    <button routerLink="/SalasDisponibles" class="text-see-all w-full py-5 rounded-2xl bg-white font-medium">See All</button>
            </div>
            <hr class="mt-8 w-[0.05vw] h-[56vh] border-0 border-[#ffffff] bg-[#ffffff]">
            <div class="bg-transparent w-[40%] flex flex-col justify-between items-center">
                <div class="flex items-center">
                    <img class="mt-7 bg-transparent" [src]="'./assets/' + avatarSelected.src" alt="Avatar Default" width="64px">
                    <button class=" shadow-md border-2 rounded-full -m-1 mt-9" (click)="changeAvatar()">
                        <img class="size-5" src="./assets/media/editarAvatar.png" alt="Editar Avatar">
                    </button>
                </div>
                <div [ngStyle]="{'display': modalOpen ? 'block' : 'none'}" class="hidden fixed inset-1 bg-black bg-opacity-50 justify-center items-center">
                    <div class="justify-center items-center">
                        <button class="close">&times;</button>
                        <div class="grid grid-cols-3 gap-8 place-items-center">
                            <img *ngFor="let avatar of avatarList" [src]="'./assets/' + avatar.src" alt="avatar.name" class="size-10 cursor-pointer" (click)="selectAvatar(avatar)">
                        </div>
                    </div>
                </div>
                <div class="flex justify-center items-center bg-transparent relative">
                    <input type="text" name="name" id="name" class="ring ring-[#F2B3E1] ring-inset bg-white py-2 pl-10 rounded-xl w-full" placeholder="Name">
                    <span class="material-symbols-outlined bg-transparent absolute inset-y-0 pl-3 left-0 flex items-center pointer-events-none">
                        person
                    </span>
                </div>
                <div class="flex justify-center items-center bg-transparent relative" >
                    <input type="text" name="room-code" id="room-code" class="ring ring-[#F2B3E1] ring-inset bg-white py-2 pl-10 rounded-xl w-full" placeholder="Room Code">
                    <span class="material-symbols-outlined bg-transparent absolute inset-y-0 pl-3 left-0 flex items-center pointer-events-none">
                        link
                    </span>
                </div>
                <button routerLink="/Game" class="flex justify-center items-center rounded-full btn-new-room py-2 px-5 w-full text-white font-bold text-lg transition ease-out hover:-translate-y-1 hover:scale-110">
                    New Room
                    <span class="material-symbols-outlined bg-transparent ml-2">
                        door_open
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
